<div id="container">
  <div id="corner-logo">
    <%= link_to_logo %>
  </div>
  <div id="page-copy">
    <h3>about <span class="green">zwing</span><span class="red">mo</span>.com</h3>
    <p>
      I had a personal itch to scracth. I do love local listings websites; burrp.com and now zomato.com (in particular) 
      but there is one thing that I really find annoying - you got to know what you want when you are on those websites; 
      there is no serendipity. And the very little seredipity you find is not because it's designed to be but because of 
      our own hardwork. <span class="green">zwing</span><span class="red">mo</span> - tries to get this right. It's like a last.fm radio station for lifestyle events. Not 
      to miss that we also mix in the social element silently.</p>
      
    <p><u>Please note</u>: This is an experiment (36 hours) - enough liberties have been taken while curating this for you.</p>
    
    <p>For the curious minds - the name '<span class="green">zwing</span><span class="red">mo</span>' - has it's roots in the word 'swing'. So, '<span class="green">zwing</span><span class="red">mo</span>' is like saying 'swing' more :)</p>    

  </div>
</div>
