<div id="container">
  <div id="corner-logo">
    <%= link_to_logo %>
  </div>
  <div id="page-copy">
    <p>
      <ul>
      <li><%= link_to 'Ruby on Rails', 'http://rubyonrails.org/' -%> + <%= link_to 'jQuery', 'http://jquery.org' -%> + <%= link_to 'Underscore.js', 'http://documentcloud.github.com/underscore/' -%></li>
      <li><a href="http://zomato.com">Zomato</a></li>
      <li><a href="https://github.com/desandro/isotope">Isotope</a></li>
      <li><a href="http://jquery.com/demo/thickbox/">Thickbox</a></li>
      </ul>
    </p>
    <p>
    <em style="font-size: 11px">
      The images are sourced manually without permission. 
      There is no intention use them commercially and this app claims no ownership or copyright on them.
    </em>
    </p>
  </div>
</div>
