<div id="container">
  <div id="corner-logo">
    <%= link_to_logo %>
  </div>
  <div id="page-copy">
    <%= image_tag "zwingmo-mag.png", :size => '332x340', :alt => '0' %>
    <br/><br/>
    <button style="border:0;background-color: #FFF;"><%= image_tag('fb.png', :mouseover => 'fb_hover.png', :size =>'269x30', :id => 'fb_connect', :onclick => "zwingmo.Facebook.login()") %></button>
  </div>
</div>
