<div id="container">
  <div id="corner-logo">
    <%= link_to_logo %>
  </div>
  <div id="page-copy">
    <br/>
    <%= image_tag "zwingmo-mag-sample.png", :size => '402x450', :alt => '0' %>
    <br/>
    <button style="border:0;background-color: #FFF;margin-left:50px;"><%= image_tag('fb.png', :mouseover => 'fb_hover.png', :size =>'269x30', :id => 'fb_connect', :onclick => "zwingmo.Facebook.login()") %></button>
    <br/><br/>
  </div>
</div>
